body {
    color: #333333;
    font-family:  arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display:  flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #6b0404;
    border-top: 3px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #96a00c;
    margin-right: 16px;
    text-decoration: none;
}

input {
    border: 2px solid #10ada0;
    padding: 6px; 
}

button {
    cursor: pointer;
    border: 1px solid #333333;
    background: rgb(56, 55, 55);
    color: white;
    padding: 8px;

}